/* Глобальные стили страницы */
body {
  font-family: var(--primary-font);

  background-color: var(--color-white);
  color: var(--color-primary);
}

button {
  @extend %buttons;
}

p {
  @extend %paragraph;
}

/* Обнуляет подчеркивание ссылок */
a {
  @extend %links;
}

/* Обнуляет оформления списков */
ul,
li {
  @extend %lists;
}

/* Обнуляет оформления заголовков */
h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %headers;
}

img {
  @extend %images;
}
