
/* *Стили для Футер */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--color-fourth);
}
.footer-logo {
  color: var(--color-white);
  padding: 0;
}
.footer-address {
  margin-top: 20px;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--color-white);
}
.footer-contacts-item:not(:last-child) {
  margin-bottom: 9px;
}
.address-link {
  padding-top: 0;
  padding-bottom: 0;

  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-container-item:last-child {
  margin-left: auto;
}

.footer-container-adress {
  margin-right: 70px;
}

/* .footer-container-social {
  margin-right: 93px;
} */

.footer-title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;

  color: var(--color-white);
}

.footer-social-list {
  display: flex;
}

.footer-social-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  background-color: var(--color-white10);
  color: var(--color-white);

  border-radius: 50%;

  transition-property: background;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--transition-function);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--color-active);
}

.footer-form {
  display: flex;
}

.footer-form-email-input {
  min-width: 358px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 12px;

  font-size: 16px;
  line-height: 1.25px;
  letter-spacing: 0.03em;

  background-color: var(--color-fourth);
  border: none;
  /* border: solid 1px rgba(255, 255, 255, 0.6); */
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  outline: solid 1px rgba(255, 255, 255, 0.6);

  /* transition-property: border;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--transition-function); */
}
/* .footer-form-email-input:hover,
.footer-form-email-input:focus {
  border: solid 1px rgba(255, 255, 255, 1);
} */

.footer-form-button {
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 28px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  background-color: var(--color-brand);
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-form-button-icon {
  margin-left: 10px;
}

.footer-form-button:hover,
.footer-form-button:focus {
  background-color: var(--color-active-button);
}
